@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f3f3f3;
}

img {
	width: 100%;
	/* height: auto; */
	/* object-fit: cover; */
	/* margin: 0 auto; */
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #333;
}

h3 {
	font-size: 1.25rem;
}

p {
	margin: 7px 0;
	font-size: 1rem;
	line-height: 1.5;
}